.service {
  padding: 100px 8%;
  background: #f4f6f9;
  font-family: "Inter", sans-serif;
}

.service-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.service-wrapper h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
  color: #1f3a56;
  position: relative;
}

.line {
  width: 120px;
  height: 3px;
  background-color: #4ea8de;
  margin: -40px auto 0 auto; 
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
  margin-top: 80px;
}

.service-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

.service-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1f3a56;
}

.service-card p {
  font-size: 20px;
  color: #555;
  line-height: 1.7;
}

.service-icon {
  width: 60px;
  height: 60px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  flex-shrink: 0;
}

.service-hero {
  min-height: 70vh;
  background-image:
    linear-gradient(
      rgba(15, 45, 85, 0.85),
      rgba(15, 45, 85, 0.85)
    ),
    url("/public/img/service.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.service-hero-content {
  max-width: 900px;
  color: #ffffff;
}

.service-hero-content h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.service-hero-content p {
  font-size: 16px;
  line-height: 1.8;
  opacity: 0.95;
}


.orange { background: rgba(255,122,0,0.15); }
.green { background: rgba(34,197,94,0.15); }
.pink { background: rgba(255,0,110,0.15); }
.cyan { background: rgba(0,180,216,0.15); }
.yellow { background: rgba(250,204,21,0.2); }
.blue { background: rgba(37,99,235,0.15); }


@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-wrapper h2 {
    font-size: 32px;
  }
}

