.hero {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.hero-left {
  width: 40%;
  background-color: #1b74c0;
  color: rgb(255, 255, 255);
  padding: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.line-1 {
  width: 190px;
  height: 2px;
  background-color: #ffffff;
  margin: 20px 0;
  border-radius: 40px;
}

.content h1 {
  font-size: 42px;
  margin-bottom: 20px;
  justify-content: center;
}

.content-row {
  display: flex;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
}

.content p {
  line-height: 1.6;
  max-width: 400px;
  justify-content: center;
}

.hero-right {
  width: 60%;
  background-size: cover;
  background-position: center;
  filter: brightness(65%);
  background-image: url(img/company-image.jpg);
}
