.navbar {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 14px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.792);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.navbar.scrolled .navbar-container {
    background: rgba(255, 255, 255, 0.301);
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ff9f1a;
    font-size: 22px;
    font-weight: bold;
}

.navbar-logo img {
    width: 40px;
}

.navbar-menu {
    display: flex;
    gap: 28px;
    list-style: none;
    color: #cbd5e1;
    font-weight: 500;
}

.navbar-menu li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-menu li:hover {
    color: #1b74bf;
}

.contact-btn {
    background: transparent;
    border: 1px solid #ff9f1a;
    color: #ff9f1a;
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background: #ff9f1a;
    color: #ffff;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 24px;
    height: 2px;
    background: #1b74bf;
    z-index: 10001;
}

@media (max-width: 768px) {
    .navbar-menu {
        border-radius: 120px;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        background: rgb(255, 255, 255);
        backdrop-filter: blur(16px);
        flex-direction: column;
        padding: 100px 30px;
        transition: right 0.3s ease;
    }

    .navbar-menu.open {
        right: 0;
    }

    .hamburger {
        display: flex;
    }

    .contact-btn {
        display: none;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .navbar-menu li {
    padding: 10px 0;
    }

    .navbar-menu li:hover {
        background: rgba(27, 116, 191, 0.08);
        border-radius: 8px;
        padding-left: 12px;
    }
}